.character-box{
  .delete-button, .spec{
    display:none;
  }
  .main-tag{
    display:none;
    cursor:pointer;
    &.is-main{
      display:block;
    }
  }
  &:hover .delete-button, &:hover .main-tag,&:hover .spec{
    display: block;
  }
}
