$druid:#FF7D0A;
$hunt:#ABD473;
$mage:#69CCF0;
$priest:#FFFFFF;
$rogue:#FFF569;
$shaman:#0070DE;
$warlock:#9482C9;
$warrior:#C79C6E;

.bg-class-druid{
  background-color:$druid;
}
.bg-class-hunt{
  background-color:$hunt;
}
.bg-class-mage{
  background-color:$mage
}
.bg-class-priest{
  background-color:$priest;
  strong{
    color:#000;
  }
}
.bg-class-rogue{
  background-color:$rogue;
  strong{
    color:#000;
  }
}
.bg-class-shaman{
  background-color:$shaman;
}
.bg-class-warlock{
  background-color:$warlock;
}
.bg-class-warrior{
  background-color:$warrior;
}


.level-is-shrinkable .level-left,
.level-is-shrinkable .level-right {
  flex-shrink: 1;
}

.has-pointer{
  cursor:pointer;
}
