
.class-druid{
  background-color:#FF7D0A;
}
.class-hunt{
  background-color:#ABD473
}
.class-mage{
  background-color:#69CCF0
}
.class-priest{
  background-color:#FFFFFF;
}
.class-rogue{
  background-color:#FFF569
}
.class-shaman{
  background-color:#0070DE
}
.class-warlock{
  background-color:#9482C9
}
.class-warrior{
  background-color:#C79C6E
}
