.characters-registration-list{
  h3{
    margin-bottom:0.2rem!important;
  }
  hr{
    margin: 0.5rem 0;
  }
  .level{
    margin-bottom:0.2rem!important;
  }

  .class-count{
    img {
      height: 14px;
    }
  }
  .registration{
    position: relative;
    .image{
      display:inline-block;
    }
    .links{display:none}
    &:hover .links{
      display: inline-block;
      position:absolute;
      right:0;
    }
  }

  .bench{
    .registration{
      display:inline-block;
      margin-left:10px;
    }
  }
}
