.bank-list{
  .gold{
    padding:15px;
  }

  .free{
    .addFree{
      display:none;
      cursor:pointer;
    }
    &.is-banker:hover{
      .display{
        display:none;
      }

      .addFree{
        display:inline
      }

    }
  }


}
